<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%=h job.name %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job', new_job_path %>