<p>
  <b>Name:</b>
  <%=h @job.name %>
<p>
  <% Job.tasks.each do |t| %>
    <b><%= t %></b> did its thing and said:
    <b><%=h @job.send(t.to_sym) %></b>
    <br/>
  <% end %>
</p>

</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
